
.main {
    width: 100%;
    height: 100%;
    background: var(--nav_bg);
    border-radius: 0px 10px 10px 0px;
    padding-bottom: 12px;
}
.menubar_logo {
    padding-left: 20px;
    border-bottom: 2px solid var(--text)
}

.Menu {
    background-color: #4c5bd4;
    color: var(--text);
    font-size: 16px !important;
    width: 100%;
}
.MenuItem {
    color: #fff;
    padding-left: 13px;
}
.MenuItemChildren {
    padding: 0 27px;
    height: 100%;
    display: block;
    border-left: 2px solid #fff;
}
