.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #f7f8fc;
}

.nav {
    width: 26%;
}
.body {
    width: 100%;
    overflow: hidden;
}
.content {
   
}
.header {
    
    height: 79px;
    background-color: #ccc;
    z-index: 111;
}