@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

:root {
    --text: white;
    --nav_bg: #4c5bd4;
    --bg-hover: #2e3994;
    --bg-menu: #4c5bd4;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {

    font-size: 14px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

#NavMenu .ant-menu-item {
    border-radius: 0 ;
    margin: 0  ;
    padding: 0px 20px !important;
    width: 100%;
    height: 50px !important;
    background-color: #4c5bd4;
}

#NavMenu .ant-menu-item-only-child {
    height: 43px !important;
    line-height: 43px !important;
    
}

#NavMenu .ant-menu-submenu-title {
    padding: 0px 20px !important;
    margin: 0 !important;
    height: 50px;
    line-height: 50px;
}

.ant-menu-item:hover,
.ant-menu-submenu-inline:hover {
    background-color: #2e3994 !important;
    border-radius: 0;
    color: #fff !important;
    width: 100%;
}
